{% extends 'base.html'%} {%block title%} Student Manage System • Forgot Password
{%endblock%} {%block content%}
<div class="container">
  <div class="login">
    <form class="login-form" action="#" method="post">
      <h3 class="login-title">STUDENT MANAGEMENT SYSTEM</h3>
      <img
        class="icon-image"
        src="{{url_for('static', filename='/images/icon.png')}}"
        alt="icon"
      />
      <div class="mb-3">
        <h5>Request Forgot Password Link.</h5>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      {%if ctx.error %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        {{ctx.error}}
      </div>
      {%endif%} {%if ctx.message %}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        {{ctx.message}}
      </div>
      {%endif%}
      <button type="submit" class="btn btn-primary">SEND EMAIL</button>
      <br />
      <div class="mb-3">
        <h5>Remember my password?</h5>
      </div>
      <button type="button" class="btn btn-secondary">
        <a href="/auth/login">LOGIN</a>
      </button>
    </form>
  </div>
</div>

{%endblock%}
