
{% extends 'base.html'%} {%block title%} Student Management System • Register
{%endblock%} {%block content%}
<div class="container">
  <div class="register">
    <form class="register-form">
      <h3 class="register-title">STUDENT MANAGEMENT SYSTEM</h3>
      <img
        class="icon-image"
        src="{{url_for('static', filename='/images/icon.png')}}"
        alt="icon"
      />
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <select class="form-select">
          <option value="ADMIN">ADMIN</option>
          <option value="STUDENT">STUDENT</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput2"
          placeholder="password"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput3"
          placeholder="confirm password"
        />
      </div>

      <button type="submit" class="btn btn-primary">REGISTER</button>
      <br />
      <div class="mb-3">
        <h5>Already having an account?</h5>
      </div>

      <button type="submit" class="btn btn-secondary">
        <a href="/auth/login">LOGIN</a>
      </button>
    </form>
  </div>
</div>

{%endblock%}
